<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Isiweb
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@isiweb.it so we can send you a copy immediately.
 *
 * @category    Isiweb
 * @package     Isiweb_Magestpay
 * @copyright   Copyright (c) 2015 Isiweb S.r.l. (http://www.isiweb.it)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <sections>
        <payment>
            <groups>
                <gestpay translate="label" module="isiweb_magestpay">
                    <label>GestPay (Banca Sella)</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Abilita soluzione</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <merchant_id translate="label">
                            <label>Codice Esercente</label>
                            <sort_order>5</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchant_id>
                        <enable_test translate="label">
                            <label>Abilita modalità test</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[Se abilitato inserire un codice esercente di test e i pagamenti saranno effettuati nell'ambiente test.]]>
                            </comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_test>
                        <enable_logging translate="label">
                            <label>Abilita log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>
                                <![CDATA[Abilita i messaggi di log nel file <i>Isiweb_Magestpay.log</i>]]>
                            </comment>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_logging>
                        <title translate="label">
                            <label>Titolo</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <instructions translate="label">
                            <label>Istruzioni</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instructions>
                        <allowspecific translate="label">
                            <label>Pagamento Disponibile Per</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Paesi Autorizzati</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>45</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><allowspecific>1</allowspecific></depends>
                        </specificcountry>
                        <language translate="label">
                            <label>Seleziona la lingua</label>
                            <frontend_type>select</frontend_type>
                            <comment>
                                <![CDATA[<b>Attenzione:</b> è possibilie impostare la lingua solo se l'account è configurato]]>
                            </comment>
                            <sort_order>60</sort_order>
                            <source_model>isiweb_magestpay/system_config_source_language</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </language>
                        <sort_order translate="label">
                            <label>Ordinamento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <comment>
                                <![CDATA[Indica la posizione in cui deve apparire questa soluzione di pagamento]]>
                            </comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                    </fields>
                </gestpay>
            </groups>
        </payment>
    </sections>
</config>